@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
}
